<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.dbkx.opnmb.generator.mapper.BiscuitMapper">

    <resultMap id="BaseResultMap" type="icu.dbkx.opnmb.generator.entity.Biscuit">
            <id property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="biscuit_id" column="biscuit_id" jdbcType="VARCHAR"/>
            <result property="activate" column="activate" jdbcType="INTEGER"/>
            <result property="timestamp" column="timestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,biscuit_id,activate,
        timestamp
    </sql>
</mapper>
